.admin-sidebar {
  font-size: 17px;
}

.admin-sidebar .text-xs {
  font-size: 0.75em;
}
.admin-sidebar .text-sm {
  font-size: 0.875em;
}
.admin-sidebar .text-base {
  font-size: 1em;
}
.admin-sidebar .text-lg {
  font-size: 1.125em;
}
